In [20]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
df = pd.read_csv('test.csv')

In [36]:
df.shape

(259, 27)

In [37]:
df.head()

,s.no,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-29 09:29:37,25,Male,United States,PA,No,Yes,Often,6-25,...,Somewhat easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,NaN
1,2,2014-08-29 09:31:37,42,male,United States,IN,No,Yes,Sometimes,6-25,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No,NaN
2,3,2014-08-29 09:31:49,34,male,United States,PA,No,Yes,Often,100-500,...,Very easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,NaN
3,4,2014-08-29 09:33:43,26,female,United States,OH,No,No,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,Maybe,Maybe,Don't know,Yes,NaN
4,5,2014-08-29 09:35:46,35,Male,United Kingdom,NaN,No,Yes,Sometimes,1-5,...,Very easy,Yes,Yes,Some of them,Some of them,No,Maybe,Yes,Yes,NaN

In [38]:
info = df.info(null_counts=True) # Non empty columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 27 columns):
s.no                         259 non-null int64
Timestamp                    259 non-null object
Age                          259 non-null int64
Gender                       259 non-null object
Country                      259 non-null object
state                        144 non-null object
self_employed                259 non-null object
family_history               259 non-null object
work_interfere               221 non-null object
no_employees                 259 non-null object
remote_work                  259 non-null object
tech_company                 259 non-null object
benefits                     259 non-null object
care_options                 259 non-null object
wellness_program             259 non-null object
seek_help                    259 non-null object
anonymity                    259 non-null object
leave                        259 non-null object
mental_health_consequence    259 non-null object
phys_health_consequence      259 non-null object
coworkers                    259 non-null object
supervisor                   259 non-null object
mental_health_interview      259 non-null object
phys_health_interview        259 non-null object
mental_vs_physical           259 non-null object
obs_consequence              259 non-null object
comments                     37 non-null object
dtypes: int64(2), object(25)
memory usage: 54.7+ KB

In [39]:
df.apply(lambda x: sum(x.isnull())) # Null value count

s.no                           0
Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        115
self_employed                  0
family_history                 0
work_interfere                38
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     222
dtype: int64

In [40]:
df.drop(columns=['comments', 'state', 's.no', 'Timestamp', 'work_interfere'],inplace=True,axis=0)

In [41]:
df.head()

,Age,Gender,Country,self_employed,family_history,no_employees,remote_work,tech_company,benefits,care_options,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,25,Male,United States,No,Yes,6-25,Yes,Yes,Yes,Yes,...,Yes,Somewhat easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No
1,42,male,United States,No,Yes,6-25,Yes,Yes,Don't know,No,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No
2,34,male,United States,No,Yes,100-500,No,Yes,Yes,Yes,...,Yes,Very easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No
3,26,female,United States,No,No,26-100,Yes,Yes,Don't know,No,...,Don't know,Don't know,Maybe,No,Some of them,No,Maybe,Maybe,Don't know,Yes
4,35,Male,United Kingdom,No,Yes,1-5,No,Yes,No,Yes,...,Yes,Very easy,Yes,Yes,Some of them,Some of them,No,Maybe,Yes,Yes

In [42]:
df.apply(lambda x: sum(x.isnull())) # Null value count

Age                          0
Gender                       0
Country                      0
self_employed                0
family_history               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [43]:
df.Gender.unique()

array(['Male', 'male', 'female', 'm', 'M', 'F', 'Female',
       'Female (trans)', 'f', 'Malr', 'Male ', 'p', 'Woman', 'femail',
       'Cis Man', 'ostensibly male, unsure what that really means'],
      dtype=object)

In [44]:
df.Gender.value_counts()

Male                                              115
male                                               49
Female                                             28
M                                                  22
female                                             19
F                                                   7
m                                                   7
f                                                   3
Male                                                2
Female (trans)                                      1
Cis Man                                             1
Woman                                               1
p                                                   1
Malr                                                1
femail                                              1
ostensibly male, unsure what that really means      1
Name: Gender, dtype: int64

In [48]:
df['Gender'].replace(['Male', 'male', 'm', 'Make', 'Cis Male', 'Male-ish', 'maile',
                      'something kinda male?', 'Mal', 'Male ',
                      'Guy (-ish) ^_^', 'male leaning androgynous', 'Man', 'msle', 'Mail',
                      'cis male', 'Nah', 'Enby', 'fluid', 'Androgyne', 'Agender', 
                     'Neuter', 'Cis Man', 'Malr', 'p',
                      'ostensibly male, unsure what that really means'], 'M', inplace=True);

In [51]:
df['Gender'].replace(['Female', 'female', 'Trans-female', 'Cis Female', 'Woman', 'f', 'Femake',
                     'cis-female/femme', 'Female (cis)', 'woman', 'Female ', 'non-binary',
                      'A little about you', 'queer', 'Female (trans)', 'Trans woman', 'femail',
                     'Genderqueer'], 'F', inplace=True);

In [52]:
df.Gender.value_counts()

M    199
F     60
Name: Gender, dtype: int64

In [53]:
df.head()

,Age,Gender,Country,self_employed,family_history,no_employees,remote_work,tech_company,benefits,care_options,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,25,M,United States,No,Yes,6-25,Yes,Yes,Yes,Yes,...,Yes,Somewhat easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No
1,42,M,United States,No,Yes,6-25,Yes,Yes,Don't know,No,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No
2,34,M,United States,No,Yes,100-500,No,Yes,Yes,Yes,...,Yes,Very easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No
3,26,F,United States,No,No,26-100,Yes,Yes,Don't know,No,...,Don't know,Don't know,Maybe,No,Some of them,No,Maybe,Maybe,Don't know,Yes
4,35,M,United Kingdom,No,Yes,1-5,No,Yes,No,Yes,...,Yes,Very easy,Yes,Yes,Some of them,Some of them,No,Maybe,Yes,Yes

In [54]:
df.to_csv('test_cleaned.csv', index=False)