#### Data cleaning

In [2]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('train.csv')

In [42]:
df.head()

,s.no,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,Unnamed: 28
0,1,2014-08-27 11:29:31,37,Female,United States,IL,No,No,Yes,Often,...,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN,NaN
1,2,2014-08-27 11:29:37,44,M,United States,IN,No,No,No,Rarely,...,Maybe,No,No,No,No,No,Don't know,No,NaN,NaN
2,3,2014-08-27 11:29:44,32,Male,Canada,NaN,No,No,No,Rarely,...,No,No,Yes,Yes,Yes,Yes,No,No,NaN,NaN
3,4,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,No,Yes,Yes,Often,...,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN,NaN
4,5,2014-08-27 11:30:22,31,Male,United States,TX,No,No,No,Never,...,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN,NaN

In [45]:
print(df.shape)
print(df.columns)

(1000, 29)
Index(['s.no', 'Timestamp', 'Age', 'Gender', 'Country', 'state',
       'self_employed', 'family_history', 'treatment', 'work_interfere',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments', 'Unnamed: 28'],
      dtype='object')

In [46]:
df = df.drop(['s.no', 'Timestamp', 'state', 'comments', 'Unnamed: 28'], axis = 1)

In [47]:
df.columns

Index(['Age', 'Gender', 'Country', 'self_employed', 'family_history',
       'treatment', 'work_interfere', 'no_employees', 'remote_work',
       'tech_company', 'benefits', 'care_options', 'wellness_program',
       'seek_help', 'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [48]:
df.head()

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,No,No,Yes,Often,6-25,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,M,United States,No,No,No,Rarely,More than 1000,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,No,No,No,Rarely,6-25,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,No,Yes,Yes,Often,26-100,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,No,No,No,Never,100-500,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No