In [3]:
from fastai.tabular import *

In [10]:
path = Path('.')

In [11]:
path

PosixPath('.')

In [19]:
df = pd.read_csv(path/'train_cleaned_numericalised.csv')

In [20]:
print(df['treatment'].unique())
df['treatment'].replace({'No':0, 'Yes':1}, inplace=True)
print(df['treatment'].unique())

['Yes' 'No']
[1 0]

In [21]:
df.columns

Index(['Age', 'Gender', 'Country', 'self_employed', 'family_history',
       'treatment', 'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [25]:
dep_var = 'treatment'
cat_names = ['Gender', 'Country', 'self_employed', 'family_history', 'no_employees', 
            'remote_work', 'tech_company', 'benefits', 'care_options', 'wellness_program',
            'seek_help', 'anonymity', 'leave', 'mental_health_consequence',
             'phys_health_consequence', 'coworkers', 'supervisor', 'mental_health_interview',
             'phys_health_interview', 'mental_vs_physical', 'obs_consequence']
cont_names = ['Age']
procs = [FillMissing, Categorify, Normalize]

In [26]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [27]:

data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [28]:
data.show_batch(rows=10)

In [29]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [33]:
learn.fit(10, 1e-2)