In [17]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pickle

In [2]:
df = pd.read_csv('train_cleaned_numericalised.csv')

In [3]:
df.shape

(1000, 23)

In [4]:
df.head()

,Age,Gender,Country,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,1,0,0,0,Yes,1,0,1,1,...,1,1,0,0,2,1,0,2,1,0
1,44,0,0,0,0,No,5,0,0,2,...,2,4,2,0,0,0,0,0,2,0
2,32,0,1,0,0,No,1,0,1,0,...,2,2,0,0,1,1,1,1,0,0
3,31,0,2,0,1,Yes,2,0,1,0,...,0,2,1,1,2,0,2,2,0,1
4,31,0,0,0,0,No,3,1,1,1,...,2,4,0,0,2,1,1,1,2,0

In [6]:
print(df['treatment'].unique())
df['treatment'].replace({'No':0, 'Yes':1}, inplace=True)
print(df['treatment'].unique())

['Yes' 'No']
[1 0]

In [7]:
df.head()

,Age,Gender,Country,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,1,0,0,0,1,1,0,1,1,...,1,1,0,0,2,1,0,2,1,0
1,44,0,0,0,0,0,5,0,0,2,...,2,4,2,0,0,0,0,0,2,0
2,32,0,1,0,0,0,1,0,1,0,...,2,2,0,0,1,1,1,1,0,0
3,31,0,2,0,1,1,2,0,1,0,...,0,2,1,1,2,0,2,2,0,1
4,31,0,0,0,0,0,3,1,1,1,...,2,4,0,0,2,1,1,1,2,0

In [8]:
df.treatment.value_counts() # The data is unbiased

0    508
1    492
Name: treatment, dtype: int64

In [9]:
X = np.array(df.loc[:, df.columns != 'treatment'])
y = np.array(df.loc[:, df.columns == 'treatment'])

In [10]:
X.shape, y.shape

((1000, 22), (1000, 1))

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=37)

In [12]:
X_train.shape

(800, 22)

In [13]:
rf = RandomForestClassifier(n_estimators=1000, random_state=0)

In [14]:
rf.fit(X_train, y_train.ravel())

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [15]:
score = rf.score(X_test, y_test)
print(score)

0.745

In [18]:
pickle.dump(rf, open("Model.pickle", 'wb'))