In [69]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.feature_selection import RFE

df = pd.read_csv('train_cleaned_2.csv')


labels=df['treatment']
df_train=df.drop(['treatment'],axis=1)

In [71]:
df.columns

Index(['Age', 'family_history', 'treatment', 'work_interfere', 'benefits',
       'anonymity', 'phys_health_consequence', 'mental_health_interview',
       'obs_consequence'],
      dtype='object')

In [72]:
x_train,x_test,y_train,y_test=train_test_split(df_train,labels,test_size=0.2)

In [73]:
model=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=999999999, probability=True, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [74]:
selector = RFE(model, 10)
# selector.ranking_()
selector = selector.fit(x_train, y_train)

In [76]:
selector.ranking_

array([1, 1, 1, 1, 1, 1, 1, 1])

In [75]:
d = diabetes.copy()
d.drop('treatment', inplace=True, axis=1)

In [34]:
d.shape

(1000, 22)

In [35]:
for i in range(22):
    if selector.ranking_[i] != 1:
        diabetes.drop(d.columns[i], inplace=True, axis=1)

In [36]:
diabetes.head()

,Age,Gender,Country,family_history,treatment,no_employees,benefits,care_options,wellness_program,seek_help,leave,mental_health_consequence,coworkers,supervisor,phys_health_interview,mental_vs_physical
0,37,1,0,0,Yes,1,1,2,0,1,1,0,2,1,2,1
1,44,0,0,0,No,5,2,0,2,2,4,2,0,0,0,2
2,32,0,1,0,No,1,0,0,0,0,2,0,1,1,1,0
3,31,0,2,1,Yes,2,0,1,0,0,2,1,2,0,2,0
4,31,0,0,0,No,3,1,0,2,2,4,0,2,1,1,2

In [37]:
diabetes.to_csv("train_cleaned_numericalised_reduced.csv")