In [72]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb
import pickle

In [55]:
df = pd.read_csv('train_cleaned_numericalised.csv')

In [56]:
df.shape

(1000, 23)

In [57]:
df.head()

,Age,Gender,Country,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,1,0,0,0,Yes,1,0,1,1,...,1,1,0,0,2,1,0,2,1,0
1,44,0,0,0,0,No,5,0,0,2,...,2,4,2,0,0,0,0,0,2,0
2,32,0,1,0,0,No,1,0,1,0,...,2,2,0,0,1,1,1,1,0,0
3,31,0,2,0,1,Yes,2,0,1,0,...,0,2,1,1,2,0,2,2,0,1
4,31,0,0,0,0,No,3,1,1,1,...,2,4,0,0,2,1,1,1,2,0

In [58]:
print(df['treatment'].unique())
df['treatment'].replace({'No':0, 'Yes':1}, inplace=True)
print(df['treatment'].unique())

['Yes' 'No']
[1 0]

In [59]:
df.head()

,Age,Gender,Country,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,1,0,0,0,1,1,0,1,1,...,1,1,0,0,2,1,0,2,1,0
1,44,0,0,0,0,0,5,0,0,2,...,2,4,2,0,0,0,0,0,2,0
2,32,0,1,0,0,0,1,0,1,0,...,2,2,0,0,1,1,1,1,0,0
3,31,0,2,0,1,1,2,0,1,0,...,0,2,1,1,2,0,2,2,0,1
4,31,0,0,0,0,0,3,1,1,1,...,2,4,0,0,2,1,1,1,2,0

In [60]:
df.treatment.value_counts() # The data is unbiased

0    508
1    492
Name: treatment, dtype: int64

In [61]:
X = np.array(df.loc[:, df.columns != 'treatment'])
y = np.array(df.loc[:, df.columns == 'treatment'])

In [62]:
X.shape, y.shape

((1000, 22), (1000, 1))

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=37)

In [64]:
X_train.shape

(800, 22)

In [73]:
mlp = xgb.XGBClassifier(objective="binary:logistic", random_state=42)

In [74]:
mlp.fit(X_train, y_train.ravel())

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [75]:
score = mlp.score(X_test, y_test)
print(score)

0.71

In [77]:
pickle.dump(mlp, open("Model.pickle", 'wb'))